* text=auto
inst/validation/BlackThrive-authorship-source-check.log text eol=lf
inst/validation/BlackThrive-demo-source-check.log text eol=lf
*.R text eol=lf
*.Rmd text eol=lf
*.md text eol=lf
*.yaml text eol=lf
*.csv text eol=lf
*.gz binary
*.rds binary
inst/validation/win-builder-2026-09-16/* text eol=lf
inst/validation/win-builder-2026-09-21/* text eol=lf
inst/validation/ci-2026-09-21/* text eol=lf
inst/validation/rhub-2026-09-21/* text eol=lf
